html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page1 {
    display: grid;
    grid-column: 1fr;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-image: linear-gradient(blue, white);
    height: 100vh;
}

#logo-main {
    width: 50%;
    justify-self: center;
}

#start-game {
    margin-bottom: 10px;
}

#page2 {
    display: none;
    grid-column: 1fr 1fr;
    align-content: center;
    justify-self: center;
    text-align: center;
    background-image: linear-gradient(lightgray, white);
    background-size: contain;
    height: 100vh;
}

.player-select {
    width: 200px;
    height: 50px;
    font-size: large;
    justify-self: center;
    background-color: blue;
    border-radius: 10px;
    border: solid 3px darkblue;
    color: white;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px black;
}

.player-select:hover {
    background-color: gold;
    border: solid 3px darkgoldenrod;
    font-weight: bold;
    color: black;
}

.vip-select {
    width: 300px;
    height: 50px;
    font-size: large;
    justify-self: center;
    background-color: blue;
    border-radius: 10px;
    border: solid 3px darkblue;
    color: white;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px black;
}

.vip-select:hover {
    background-color: gold;
    border: solid 3px darkgoldenrod;
    font-weight: bold;
    color: black;
}

.header {
    position: absolute;
    width: 100%;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-items: center;
    text-align: center;
    color: white;
    left: 0px;
    top: 0px;
}

.logo-head {
    height: 100px;
}

#how-many-players {
    display: grid;
}

#page3 {
    display: none;
    grid-column: 1fr 1fr;
    align-content: center;
    justify-self: center;
    text-align: center;
    background-image: linear-gradient(lightgray, white);
    height: 100vh;
}

#name-input {
    margin-bottom: 20px;
}

.input-box {
    margin-right: 20px;

}

#page4 {
    display: none;
    grid-column: 1fr 1fr;
    align-content: center;
    justify-self: center;
    text-align: center;
    background-image: linear-gradient(lightgray, white);
    height: 100vh;
}

#rules {
    width: 75%;
    justify-self: center;
}

.rules {
    margin-bottom: 20px;
}

#music {
    display: inline;
}

#page5 {
    display: none;
    grid-column: 1fr 1fr;
    align-content: center;
    justify-self: center;
    text-align: center;
    background-image: linear-gradient(lightgray, white);
    height: 100vh;
}

.main-container {
    position: relative;
    width: 600px;
    height: 600px;
    justify-self: center;
    z-index: 6;
}

.the-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.the-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: blue;
    color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 5px black;
    border: 3px solid gold;
}

#card-back-logo {
    height: inherit;
}

#vip-pic {
    width: inherit;
    border-radius: 20px;
}

.the-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: lightyellow;
    color: black;
    transform: rotateY(180deg);
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 5px black;
    border: 3px solid gold;
}

.the-card:hover {
    transform: rotateY(180deg);
}

#multiple-choice {
    display: none;
    grid-column: 2/3;
    align-content: center;
}

#player-name-display {
    background-color: red;
}

#onep-scorekeeper {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 0;
}

#twop-scorekeeper {
    display: none;
    grid-column: 1fr 1fr;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 0;
}

#p1-2p-meter {
    background-color: red;
    grid-column: 1/2;
    width: 100%;
}

#p2-2p-meter {
    background-color: purple;
    grid-column: 2/3;
    width: 100%;
}

#threep-scorekeeper {
    display: none;
    grid-column: 1fr 1fr 1fr;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 0;
}

#p1-3p-meter {
    background-color: red;
    grid-column: 1/2;
    width: 100%;
}

#p2-3p-meter {
    background-color: purple;
    grid-column: 2/3;
    width: 100%;
}

#p3-3p-meter {
    background-color: green;
    grid-column: 3/4;
    width: 100%;
}

.star {
    width: 40px;
    align-self: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

#p1-1p-star1 {
    visibility: hidden;
}

#p1-1p-star2 {
    visibility: hidden;
}

#p1-1p-star3 {
    visibility: hidden;
}

#p1-1p-star4 {
    visibility: hidden;
}

#p1-1p-star5 {
    visibility: hidden;
}

#p1-1p-star6 {
    visibility: hidden;
}

#p1-1p-star7 {
    visibility: hidden;
}

#p1-1p-star8 {
    visibility: hidden;
}

#p1-1p-star9 {
    visibility: hidden;
}

#p1-1p-star10 {
    visibility: hidden;
}

#p1-1p-star11 {
    visibility: hidden;
}

#p1-1p-star12 {
    visibility: hidden;
}

#p1-1p-star13 {
    visibility: hidden;
}

#p1-1p-star14 {
    visibility: hidden;
}

#p1-1p-star15 {
    visibility: hidden;
}

#p1-1p-star16 {
    visibility: hidden;
}

#p1-1p-star17 {
    visibility: hidden;
}

#p1-1p-star18 {
    visibility: hidden;
}

#p1-1p-star19 {
    visibility: hidden;
}

#p1-1p-star20 {
    visibility: hidden;
}

#p1-1p-star21 {
    visibility: hidden;
}

#p1-1p-star22 {
    visibility: hidden;
}

#p1-1p-star23 {
    visibility: hidden;
}

#p1-1p-star24 {
    visibility: hidden;
}

#p1-1p-star25 {
    visibility: hidden;
}

#p1-1p-star26 {
    visibility: hidden;
}

#p1-1p-star27 {
    visibility: hidden;
}

#p1-1p-star28 {
    visibility: hidden;
}

#p1-1p-star29 {
    visibility: hidden;
}

#p1-1p-star30 {
    visibility: hidden;
}

#p1-2p-star1 {
    visibility: hidden;
}

#p1-2p-star2 {
    visibility: hidden;
}

#p1-2p-star3 {
    visibility: hidden;
}

#p1-2p-star4 {
    visibility: hidden;
}

#p1-2p-star5 {
    visibility: hidden;
}

#p1-2p-star6 {
    visibility: hidden;
}

#p1-2p-star7 {
    visibility: hidden;
}

#p1-2p-star8 {
    visibility: hidden;
}

#p1-2p-star9 {
    visibility: hidden;
}

#p1-2p-star10 {
    visibility: hidden;
}

#p1-2p-star11 {
    visibility: hidden;
}

#p1-2p-star12 {
    visibility: hidden;
}

#p1-2p-star13 {
    visibility: hidden;
}

#p1-2p-star14 {
    visibility: hidden;
}

#p1-2p-star15 {
    visibility: hidden;
}

#p2-2p-star1 {
    visibility: hidden;
}

#p2-2p-star2 {
    visibility: hidden;
}

#p2-2p-star3 {
    visibility: hidden;
}

#p2-2p-star4 {
    visibility: hidden;
}

#p2-2p-star5 {
    visibility: hidden;
}

#p2-2p-star6 {
    visibility: hidden;
}

#p2-2p-star7 {
    visibility: hidden;
}

#p2-2p-star8 {
    visibility: hidden;
}

#p2-2p-star9 {
    visibility: hidden;
}

#p2-2p-star10 {
    visibility: hidden;
}

#p2-2p-star11 {
    visibility: hidden;
}

#p2-2p-star12 {
    visibility: hidden;
}

#p2-2p-star13 {
    visibility: hidden;
}

#p2-2p-star14 {
    visibility: hidden;
}

#p2-2p-star15 {
    visibility: hidden;
}

#p1-3p-star1 {
    visibility: hidden;
}

#p1-3p-star2 {
    visibility: hidden;
}

#p1-3p-star3 {
    visibility: hidden;
}

#p1-3p-star4 {
    visibility: hidden;
}

#p1-3p-star5 {
    visibility: hidden;
}

#p1-3p-star6 {
    visibility: hidden;
}

#p1-3p-star7 {
    visibility: hidden;
}

#p1-3p-star8 {
    visibility: hidden;
}

#p1-3p-star9 {
    visibility: hidden;
}

#p1-3p-star10 {
    visibility: hidden;
}

#p2-3p-star1 {
    visibility: hidden;
}

#p2-3p-star2 {
    visibility: hidden;
}

#p2-3p-star3 {
    visibility: hidden;
}

#p2-3p-star4 {
    visibility: hidden;
}

#p2-3p-star5 {
    visibility: hidden;
}

#p2-3p-star6 {
    visibility: hidden;
}

#p2-3p-star7 {
    visibility: hidden;
}

#p2-3p-star8 {
    visibility: hidden;
}

#p2-3p-star9 {
    visibility: hidden;
}

#p2-3p-star10 {
    visibility: hidden;
}

#p3-3p-star1 {
    visibility: hidden;
}

#p3-3p-star2 {
    visibility: hidden;
}

#p3-3p-star3 {
    visibility: hidden;
}

#p3-3p-star4 {
    visibility: hidden;
}

#p3-3p-star5 {
    visibility: hidden;
}

#p3-3p-star6 {
    visibility: hidden;
}

#p3-3p-star7 {
    visibility: hidden;
}

#p3-3p-star8 {
    visibility: hidden;
}

#p3-3p-star9 {
    visibility: hidden;
}

#p3-3p-star10 {
    visibility: hidden;
}

#page6 {
    display: none;
    grid-column: 1fr 1fr;
    align-content: center;
    justify-self: center;
    text-align: center;
    background-image: linear-gradient(lightgray, white);
    height: 100vh;
}

#end-game-display-1p {
    display: none;
    width: 75%;
    justify-self: center;
}

#end-game-display-multiplayer {
    display: none;
    width: 75%;
    justify-self: center;
}
